@mixin flex-center() {
    display: flex;
    align-items: center;
}

@mixin screen-md {
    @media screen and (max-width: 1023px) {
      @content;
    }
}
  
@mixin screen-sm {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin box-styling {
    padding: $spacing;
    margin-bottom: $spacing;
  
    h2 {
      font-size: 1.5 * $default-font-size;
      margin-bottom: calc($spacing / 2);
    }
  }
  