@mixin flex-center() {
    display: flex;
    align-items: center;
}

@mixin screen-md {
    @media screen and (max-width: 1023px) {
      @content;
    }
}
  
@mixin screen-sm {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin box-styling {
    width: calc(33.33% - $spacing);
    padding: 0 $spacing;
    margin-bottom: $spacing;

  }
  