@import "mixins";


header {
    padding: 15px 20px;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    column-gap: 20px;
  
    @include screen-sm {
      justify-content: space-between;
    }
  
    .logo img {
      height: 120px;
      width: auto;
    }
  
    .title {
      flex-grow: 2;
      font-size: 2rem;
      font-weight: 700;
      font-size: $default-font-size * 2;
  
      @include screen-sm {
        display: none;
      }
    }
  
    .navigation {
        display: flex;
        ul {
        display: flex;
        column-gap: 15px;
  
        @include screen-sm {
          display: none;
        }

        
  
        a{
          text-decoration: none;
          color: black;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
  
      .burger {
        display: none;
  
        @include screen-sm {
          display: block;
        }
  
        button {
          border: 2px solid black;
          background: lightgray;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 35px;
          cursor: pointer;
  
          img {
            height: 20px;
          }
        }
      }
    }
  }