@import "variables";
@import "mixins";

body {
    font-size: $default-font-size;
    margin: 0;
    padding: $section-spacing;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // background-color: $container-bg;
    height: 100%;
}

header {
    @include flex-center();
    font-size: $header-font-size;
    margin-bottom: $section-spacing;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    @include content-box-style();

    &.lorem h2{
        background-color: $lorem-bg;
    }

    &.ipsum h2{
        background-color: $ipsum-bg;
    }

    &.dolor h2{
        background-color: $dolor-bg;
    }

    h2 {
        font-size: $section-title-font-size;
        padding: $section-spacing;
        margin-top: 0;
        text-align: center;
    }
}

footer {
    width: 100vh;
    position: absolute;
    bottom: 0;
    text-align: center;

    p {
        margin: 0;
    }
}
