@import "responsive";

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 30px;

  .box {
    width: calc(33.33% - 20px);
    padding: 0 10px;
    margin-bottom: 1.5rem;

    @include screen-md {
      width: calc(50% - 20px);
    }

    @include screen-sm {
      width: calc(100% - 20px);
    }

    &.box-md {
      @include screen-md {
        width: calc(100% - 20px);
      }
    }

    .content {
      border: 2px black solid;
      background-color: lightgrey;
      height: 100%;

      .box-header {
        display: flex;
        justify-content: right;
        margin-bottom: 20px;

        .title {
          padding: 1.25rem 2.5rem;
          font-size: 1.5rem;
          border-width: 0 0 2px 2px;
          border-color: black;
          border-style: solid;

          &.title-blue {
            background-color: #69d2e7;
          }

          &.title-orange {
            background-color: #f38630;
          }

          &.title-pink {
            background-color: #e9aeaf;
          }
        }
      }

      .text {
        padding: 0 20px 30px;
        text-align: justify;
      }
    }
  }
}
