@import "responsive";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "main";
@import "header";
@import "footer";

html {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
